@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.PokemonCard {
  width: 100%;
  background-image: $gradient;
  padding-bottom: 20px;
  padding-top: 20px;
  min-height: 100vh;

  @include flex-box($dir: column, $align: center, $justify: center, $gap: 5px);

  .button {
    transition: all 0.35s;

    @include button();
    @include flex-box();
  }
  @media only screen and (min-width: 768px) {
      min-height: $calc;

    .cardExceptBtn {
      display: flex;
      flex-direction: row;
      gap: 5px;
      padding-bottom: 30px;
    }
    .mainInfo {
      width: 50%;
      @include flex-box(
        $dir: column,
        $align: center,
        $justify: center,
        $gap: 5px
      );
      img {
        width: 220px;
      }
    }
    .details {
      @include flex-box(
        $dir: column,
        $align: center,
        $justify: center,
        $gap: 5px
      );
    }
    .button {
      width: 300px;
    }
  }
}

.PokemonNotFound {
    min-height: $calc;
    background-image: $gradient;

  @include flex-box($dir: column, $align: center, $justify: center, $gap: 0);
}
