.CopyrightPage {
  padding: 30px;
  text-align: justify;

  .link {
    color: #158ade;
    font-size: 1.3rem;
    transition: 0.3s;

    &:hover {
      color: tomato;
    }
  }

  .title {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
      display: block;
      text-align: start;
    }
  }

  .logo {
    width: 80px;
  }
  .name {
    display: flex;
    align-items: center;
  }
  .b {
    font-weight: bolder;
  }
}
