.hero-wrapper {
  margin-top: 30px;
  width: auto;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-btn-title-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero-btn-wrapper {
  display: flex;
  gap: 30px;
}
.hero-btn-wrapper button {
  border: none;
  color: #c9a608;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.99);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.5);
}
.hero-btn-title-wrapper h1 {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.99);
  font-weight: bold;
}

.hero-btn-wrapper button:hover {
  background-color: #0f0f0f;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero-wrapper {
    margin-top: 10px;
    height: 600px;
  }
}
