@import "../../assets/css/variables.scss";
@import "../../assets/css/mixins.scss";

.AddTodoForm {
  @include flex-box(row, center, space-between, 10px);

  height: 50px;
  width: 60%;
  margin-bottom: 40px;

  input {
    height: 35px;
    border: none;
    width: 100%;

    &:focus {
      outline-style: dashed;
      outline-color: $primary-color;
      border-radius: $border-radius;
    }
    &::placeholder {
      padding: 1%;
      font-size: $font-size;
    }
  }
  button {
    background-color: #53a353;
    border: none;
    width: 120px;
    transition: $transition;

    &:hover {
      background-color: #125012;
      color: white;
      transform: $transform;
    }
  }
}
