<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>T-shirts Shop</h1>
    <p>Scegli una categoria:</p>
    <ul>
      <li><a href="/products">Tutti i prodotti</a></li>
      <li><a href="/products/uomo">Uomo</a></li>
      <li><a href="/products/donna">Donna</a></li>
      <li><a href="/products/bambino">Bambino</a></li>
    </ul>
    <a href="/contacts">Contact Us</a>
  </body>
</html>