@mixin flex-box($dir: row, $align: center, $justify: center, $gap: 0px) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin button {
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  background-color: $yellow;
  color: $blue;
  width: 150px;
  height: 40px;
  border-radius: 10px;

  &:hover {
    background-color: $blue;
    color: $yellow;
    transform: scale(1.1);
  }
}
