@import "./variables.scss";
@import "./mixins.scss";

.Pokedex {
  min-height: $calc;
  background-image: $gradient;

  @include flex-box(
    $dir: column,
    $align: center,
    $justify: space-evenly,
    $gap: 0px
  );

  .form {
    @include flex-box($dir: row, $align: center, $justify: center, $gap: 10px);

    .searchbar {
      width: 170px;
    }

    .button {
      transition: all 0.3s;

      @include button();
    }

    input {
      border-radius: 10px;
      height: 40px;
      padding: 10px 10px;
    }
  }
}

.loading {
  @include flex-box($dir: row, $align: center, $justify: center, $gap: 0);

  background-image: $gradient;
  min-height: $calc;
}

.PokemonCardPage {
  min-height: $calc;
}
