<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/endpoints.css" />
    <title>Endpoints</title>
</head>
<body>
    <h1>Elenco degli endpoint</h1>
    <ul>
        <li><a href="/quotes">GET /quotes</a> – Visualizza tutte le quotes</li>
        <li>GET /quotes/:id - Visualizza una singola quote per ID</li>
        <li>GET /quotes/authors/:author - Visualizza una singola quote per autore</li>
        <li><a href="/addNewQuote">POST /quotes</a> - Form per aggiungere una nuova quote</li>
        <li>PUT /quotes/:id - Modifica una quote esistente per ID</li>
        <li>DELETE /quotes/:id - Cancella una quote per ID</li>
</body>
</html>