<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Benvenuto</h1>
    <ul>
      <li><a href="/quotes">Visualizza le quotes</a></li>
      <li><a href="/endpoints">Visualizza gli endpoint</a></li>
    </ul>
  </body>
</html>