<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/quote.css" />
    <title>SINGLE QUOTE PER ID</title>
  </head>
  <body>
    <h1>Quote</h1>
    <div class="single-quote">
      <div class="single-id">
        <h2>{{quote.id}}.</h2>
      </div>
      <div class="quote-author">
        <h2>{{quote.quote}}</h2>
        <h2>{{quote.author}}</h2>
      </div>
    </div>
  </body>
</html>