<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/quotes.css" />
    <title>Quotes</title>
  </head>
  <body>
    <h1 class="title">Quotes</h1>
    <ul class="list">
      {{#each quotes}}
        <div class="whole-quote"><div class="id">
            {{this.id}}.</div>
          <div>
            <li class="list-item"><div>{{this.quote}}</div>
              <div class="author">{{this.author}}</div></li></div>
        </div>
      {{/each}}
    </ul>
  </body>
</html>