/* COLORS 
#889b66
#E4EFE7
#751c1c */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  color: black;
  text-align: center;
  padding-top: 20px;
}
h2 {
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
}

body p {
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5em;
}

.header-wrapper {
  background-color: #889b66;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.menu-nav {
  padding-right: 20px;
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #751c1c;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
}

.monstera1 {
  object-fit: cover;
}
.hero-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: #e4efe7;
  flex-wrap: wrap;
  padding-top: 180px;
}
.hero-text {
  padding-left: 100px;
  line-height: 60px;
}

.button {
  border: 3px solid #5f7d5a;
  font-size: 20px;
  width: 20%;
  margin-left: 220px;
  padding: 7px 7px;
  margin-top: 50px;
}
.descrizione span {
  font-style: italic;
}
#tipi-monstera {
  margin-top: 100px;
}

.adansonii {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
.adansonii-text {
  width: 100%;
  text-align: justify;
  padding-right: 15px;
}
#adansonii-curiosità {
  font-weight: bolder;
  border: 3px solid #889b66;
  padding: 20px;
}
.deliciosa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  background-color: #e4efe7;
  height: 100vh;
}
.deliciosa-text {
  width: 100%;
  text-align: justify;
  padding-left: 15px;
  padding-right: 30px;
}
.deliciosa-image {
  padding-left: 100px;
}

#final-button {
  text-align: center;
  margin-top: -60px;
}

#storia {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
}
.titolo-storia {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  height: 500px;
  background-color: #e4efe7;
}

#storia h2 {
  font-size: 40px;
}

.testo-storia {
  width: 50%;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-content: space-between;
  padding-right: 22px;
  padding-left: 20px;
  padding-top: 170px;
}
.container-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-bottom: 100px;
  gap: 5px;
}

.blog1,
.blog2,
.blog3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border: 3px solid #e4efe7;
}

.img-blog {
  margin: 0 auto;
  object-fit: cover;
}

#blog p {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}
#blog a {
  text-align: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: #889b66;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .testo-storia {
    display: none;
  }
  .titolo-storia {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .testo-hero,
  .image-hero,
  .adansonii-image,
  .adansonii-text,
  .deliciosa-image,
  .deliciosa-text,
  .adansonii-text {
    width: 50%;
  }
  .blog {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    gap: 0;
  }
}
