p {
  color: black;
}

.wrapper {
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0 0 0 0.35);
  transition: all 0.35s;

  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
  }
}
.main-image {
  text-align: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 300px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.title {
  color: darkblue;
  text-align: center;
  margin: 6px;
}

title,
p {
  padding: 24px 32px;
}
.wrapper:hover {
  background-color: lightseagreen;
  color: white;
}
