.type-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.media-type {
  text-align: center;
}

.lists-container {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  gap: 50px;
}
.movie-list {
  display: flex;
  gap: 20px;
  max-width: fit-content;
  overflow-x: auto;
  margin-bottom: 5%;
}
.card-item {
  width: 170px;
  height: auto;
  max-width: 200px;
  transition: transform 0.3s;
}
.card-item:hover {
  transform: scale(1.3);
}
